@import './components/LoginScreen.scss';
@import './components/HomeScreen.scss';
@import './components/Navbar.scss';
@import './components/Posts.scss';
@import './components/Reply.scss';
@import './components/OtherUserProfileScreen.scss';
@import './components/ProfileReplies.scss';


*{
    outline: none !important;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#root {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 25px;
}

